# MS Visual Studio project...
*.sln
*.vcxproj
*.filters
*.user
*.props
.vs/

# MSVC debug info
*.opendb
*.db
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.enc

# Precompiled Headers
*.gch
*.pch

# Code::Blocks project...
*.cbp
*.depend
*.layout

# Binary file
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
.builds
*.exe
*.o
*.slo
*.lo
*.obj
*.elf


# Resource File
*.ico

# Log
*.log

# Test Files
*.sh
*.bat
*.txt

# Archive
*.rar
*.7z
*.lzma
*.gz
*.tar
*.bz2
*.tgz
*.tbz
*.xz

# Temp / Backup
*.bup
*.bkp
*.original
*.save
*.~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary Files
*.tmp
